<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_slayer_move_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,42}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,42}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,42}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,42}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_slayer_move_up.png</string>
            <key>size</key>
            <string>{154,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce496c81be461eae97ff4ecf4ea1978b:209ee948870da897029abbe7ee406566:5839ffe677cfcc337442271bde8c562d$</string>
            <key>textureFileName</key>
            <string>td_slayer_move_up.png</string>
        </dict>
    </dict>
</plist>
