<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_slayer_move_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,44}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,44}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,44}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_slayer_move_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,44}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_slayer_move_down.png</string>
            <key>size</key>
            <string>{146,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7b3c67531c0f3d298d85a70085d0ee:c121ec52028598f52b381fe97651f060:e8973a381a54a42bcafdf2c5e187f613$</string>
            <key>textureFileName</key>
            <string>td_slayer_move_down.png</string>
        </dict>
    </dict>
</plist>
