<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explosion1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1144,2},{74,54}}</string>
			<key>offset</key>
			<string>{-1,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,39},{74,54}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion11.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion12.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion13.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,2},{94,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{94,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion14.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,2},{68,48}}</string>
			<key>offset</key>
			<string>{2,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{68,48}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,2},{80,60}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,33},{80,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,2},{86,58}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,30},{86,58}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion4.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,2},{86,62}}</string>
			<key>offset</key>
			<string>{4,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,25},{86,62}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion5.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,2},{88,78}}</string>
			<key>offset</key>
			<string>{4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{88,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion6.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,2},{96,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{96,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion7.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion8.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,2},{96,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{96,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>explosion9.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,2},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explosion.png</string>
		<key>size</key>
		<string>{1250,100}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:679437b44879f6388a7e214c507aabcc:e3a1b75a1b08b816af43aac870e47fc3:f7773d7c9d8516e42c25fb258fac894b$</string>
		<key>textureFileName</key>
		<string>explosion.png</string>
	</dict>
</dict>
</plist>
