<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_defend_point_normal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_defend_point_normal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{1,99},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_defend_point_normal3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1,50},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_defend_point_normal4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{1,147},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>td_defend_point_normal.png</string>
            <key>size</key>
            <string>{49,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1598981aab5165e203d50757b439f5d:94e6a210c592c3c37f9d8cf05f0dbb4e:3c8f1e32b8093d838ce75fef66ae3f26$</string>
            <key>textureFileName</key>
            <string>td_defend_point_normal.png</string>
        </dict>
    </dict>
</plist>
