<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_field_element_spritesheet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_field_element_spritesheet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_field_element_spritesheet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{113,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>td_field_element_spritesheet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{169,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>td_field_element_spritesheet.png</string>
            <key>size</key>
            <string>{224,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36111717268a88819be4b06da1d2958:2080682a619a5034ac508cb7f9e3caa5:d1dee39cf8499afbd5a48919d063e1f1$</string>
            <key>textureFileName</key>
            <string>td_field_element_spritesheet.png</string>
        </dict>
    </dict>
</plist>
