<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_minotaur_move_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{26,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{24,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{24,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_minotaur_move_right.png</string>
            <key>size</key>
            <string>{32,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f70025de0efcbbefa1ae3782e13e100:cbdc90fd29dd03c3f5bdd73072135040:845aaa111e4b0460f30571f1a880fad7$</string>
            <key>textureFileName</key>
            <string>td_minotaur_move_right.png</string>
        </dict>
    </dict>
</plist>
