<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_minotaur_move_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{32,42}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_minotaur_move_up.png</string>
            <key>size</key>
            <string>{106,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0801d886cd4ebd520ea474ac55a39c2:8547ccae64d40167ab076c7063ee5131:22e4d34271ce516672c718ef56e2d289$</string>
            <key>textureFileName</key>
            <string>td_minotaur_move_up.png</string>
        </dict>
    </dict>
</plist>
