<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_minotaur_move_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,44}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,42}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{32,40}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{32,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>td_minotaur_move_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,42}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_minotaur_move_left.png</string>
            <key>size</key>
            <string>{106,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60b1a619cac45c43f535ecef04a822c5:791636edd478c307e5224b4b3783803f:23edfcceaed5a65c3aa82bafc319a553$</string>
            <key>textureFileName</key>
            <string>td_minotaur_move_left.png</string>
        </dict>
    </dict>
</plist>
