<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_nightmare_move_right1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{46,32}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{35,1},{46,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>td_nightmare_move_right2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{48,32}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{48,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>td_nightmare_move_right3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{46,32}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{69,1},{46,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_right4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{46,28}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{69,35},{46,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_nightmare_move_right.png</string>
		<key>size</key>
		<string>{116,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c38530d3ae7a4aeb69863a8c2285fbb4:65a20da1efdef9c4a49f246dbdb2a2e9:b7986dcb4092f7f448b9eea99c748fc0$</string>
		<key>textureFileName</key>
		<string>td_nightmare_move_right.png</string>
	</dict>
</dict>
</plist>
