<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_nightmare_move_up1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{30,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{69,1},{30,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>td_nightmare_move_up2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{32,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{32,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_up3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{32,44}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{35,1},{32,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_up4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{30,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{69,33},{30,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_nightmare_move_up.png</string>
		<key>size</key>
		<string>{116,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bb9c4da32afbee3d98fa6b200f991335:905e213df4928c5025cbae95de949629:1a25dce4626664bc41af34feb04b0326$</string>
		<key>textureFileName</key>
		<string>td_nightmare_move_up.png</string>
	</dict>
</dict>
</plist>
