<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_nightmare_move_left1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,32}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,39},{48,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_left2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,36}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{48,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_left3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{46,34}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,107},{46,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_left4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{48,32}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,73},{48,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_nightmare_move_left.png</string>
		<key>size</key>
		<string>{50,142}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1331b77eb21ae76aa7750d3d62995061:e08aaef12ae43b6ebd8de7136f73ac72:25deedd5975e75250cc9f5029cbd6efe$</string>
		<key>textureFileName</key>
		<string>td_nightmare_move_left.png</string>
	</dict>
</dict>
</plist>
