<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_nightmare_move_down1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{35,1},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_down2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{73,1},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_down3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{32,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{111,1},{32,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_nightmare_move_down4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{32,44}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{32,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_nightmare_move_down.png</string>
		<key>size</key>
		<string>{144,46}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:60ab5c8111552c80ecac79b13b9255fc:ec14383f2579f2607481afc15a397e19:e2a9777a874d3f96af049ea960ab76fc$</string>
		<key>textureFileName</key>
		<string>td_nightmare_move_down.png</string>
	</dict>
</dict>
</plist>
