<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_mumies_move_left1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-1}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_left2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-1}</string>
			<key>spriteSize</key>
			<string>{28,40}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{71,1},{28,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>td_mumies_move_left3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,1}</string>
			<key>spriteSize</key>
			<string>{30,38}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{39,1},{30,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_left4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-1}</string>
			<key>spriteSize</key>
			<string>{28,40}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{71,31},{28,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_mumies_move_left.png</string>
		<key>size</key>
		<string>{112,60}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:48d6012dc70ed7af5ad9a52d4c5a6aab:f6f2c940069afeff696e399b4fc49efa:0dbbd1e1d56fd67a87cd50fd3add0e8d$</string>
		<key>textureFileName</key>
		<string>td_mumies_move_left.png</string>
	</dict>
</dict>
</plist>
