<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_mumies_move_down1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{38,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{38,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_down2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{38,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{41,1},{38,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_down3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{38,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{119,1},{38,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_down4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,0}</string>
			<key>spriteSize</key>
			<string>{36,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{81,1},{36,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_mumies_move_down.png</string>
		<key>size</key>
		<string>{158,50}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:39d2708e404accfcac404d061ef678e0:eb5f5333470d52e5fd83241e044fb1c3:b53ca1ba8780bdd25707391c1355f1c3$</string>
		<key>textureFileName</key>
		<string>td_mumies_move_down.png</string>
	</dict>
</dict>
</plist>
