<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_mumies_move_right1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,1}</string>
			<key>spriteSize</key>
			<string>{28,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{33,1},{28,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_right2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{26,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{63,1},{26,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_right3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{30,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_right4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{26,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{91,1},{26,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_mumies_move_right.png</string>
		<key>size</key>
		<string>{118,44}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9e4fc48c655b3839d7e3eaf4ffca5717:715be3defbecc40902145c61c5a160e3:e028406f3ebada964a8ab48a83437853$</string>
		<key>textureFileName</key>
		<string>td_mumies_move_right.png</string>
	</dict>
</dict>
</plist>
