<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>td_mumies_move_up1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{34,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{77,1},{34,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_up2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_up3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,1}</string>
			<key>spriteSize</key>
			<string>{34,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{113,1},{34,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>td_mumies_move_up4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{39,1},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>td_mumies_move_up.png</string>
		<key>size</key>
		<string>{148,44}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c0ef01c9f89675990c8373ba25017f9f:639bb5bc5e0a30bf2c1873be12615b77:7aee538e58255cb817f442b711997d3e$</string>
		<key>textureFileName</key>
		<string>td_mumies_move_up.png</string>
	</dict>
</dict>
</plist>
